
.page-banner-bth{
	position: relative;
}
.page-banner-bth-des{
	padding-top: 130px;
	padding-bottom: 185px;
	min-height: 1170px;
	height: 100%;
}
.bth-left-img{
	float: left;
	width: 50%;
}
.bth-des{
	float: right;
	width: 50%;
	padding-left: 70px;
	padding-right: 10px;
}
.bth-left-img img{
	margin-bottom: 45px;
}

.bth-des-title{
	display: block;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: -10px;
}
.bth-des p{
	line-height: 1.8;
	margin-bottom: 35px;
}

.bth-tap-left-des{
	float: left;
	width: 57.4561%;
	padding-right: 70px;
}
.bth-tap-des-img{
	float: right;
	width: 42.5438%;
}

.bth-tap-des-title{
	display: block;
	font-size: 47px;
	line-height: 1;
	margin-bottom: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.bth-tap-left-des p{
	line-height: 1.8;
	margin-bottom: 35px;
}

.bth-tap-des-img a{
	max-width: 485px;
	width: 100%;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	background: #685445;
	border: 2px solid #fff;
	letter-spacing: 2px;
	margin-top: 20px;
}
.bth-tap-des-img a:hover,
.bth-rp-des-top-left-btn a:hover,
.bth-rp-des-top-rgt-btn a:hover,
.bth-rp-des-btm-btn a:hover{
    border-color: #FF7274;
    background-color: #FF7274; 
}

.bth-tap-sec{
	padding-top: 70px;
    padding-bottom: 140px;
}
.bth-tap-sec-des{
	padding-bottom: 95px;
}

.bth-tab-btn{
	padding-left: 150px;
	position: relative;
}
.bth-tab-btn span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 35px;
	line-height: 1;
	text-transform: uppercase;
	position: absolute;
	top: 6px;
	left: 0;
}
.bth-tab-btn ul{
	display: inline-block;
}
.bth-tab-btn ul li{
	display: inline-block;
	padding-right: 4px;
	padding-left: 4px;
}
.bth-tab-btn ul li button{
	font-size: 18px;
	text-transform: uppercase;
	background: transparent;
	color: #fff;
	padding: 12px 10px;
	border: 1px solid #fff;
	font-weight: 700;
	display: inline-block;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	cursor: pointer;
	position: relative;
}
.bth-tab-btn ul li button.current:before,
.bth-tab-btn ul li button:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	width: 0;
	height: 4px;
	background: #fff;
	transition: width 0.5s;
}
.bth-tab-btn ul li button.current:before,
.bth-tab-btn ul li button:hover:before{
	width: 100%;
}
.bth-tab-btn ul li button:hover{
	border: 1px solid transparent;
}
.bth-tab-btn ul li button.current{
	border: none;
}


.bth-tab-content{
	margin-top: 70px;
}

.table tr{
	border-top: 1px solid #fff;
}
.table tr:last-child{
	border-bottom: 1px solid #fff;
}
.table tr td{
	padding: 25px;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
}
.table tr td.triadic{
	color: #ECDE8C;
}
.table tr td span{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-left: 70px;
}
.table tr td span.red{
	background: #DC1C27;
}
.table tr td span.yellow{
	background: #D8A819;
}
.table tr td span.green{
	background: #65A106;
}
.table tr td span.blue{
	background: #3498E2;
}

.table{
	margin: 0;
}


.bth-rp-sec{
	padding: 0 0 121px;
	position: relative;
}
.bth-rp-sec-inr{
	background: #000;
	padding-top: 50px;
	position: relative;
	z-index: 6;
}
.bth-rp-img{
	float: left;
	width: 51.3157%;
}
.bth-rp-des{
	float: right;
	width: 48.6842%;
	padding-left: 70px;
	padding-right: 22px;
}

.bth-rp-img ul{
	margin-left: -12px;
	margin-right: -12px;
}
.bth-rp-img ul li{
	float: left;
	width: 50%;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 25px;
}
.bth-rp-img ul li:nth-child(2n+1){
	clear: left;
}

.bth-rp-des-title{
	display: block;
	font-size: 47px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.bth-rp-des p{
	line-height: 1.8;
	margin-bottom: 35px;
}

.bth-rp-des-top-left-btn{
	float: left;
	width: 50%;
}
.bth-rp-des-top-rgt-btn{
	float: right;
	width: 50%;
}

.bth-rp-des-top-left-btn a,
.bth-rp-des-top-rgt-btn a{
	max-width: 230px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bth-rp-des-btm-btn{
	margin-top: 18px;
}
.bth-rp-des-btm-btn a{
	max-width: 485px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #685445;
}
.bth-rp-top-ang{
	position: absolute;
	left: 0;
	top: 20px;
	right: 0;
}
.bth-rp-btm-angle-svg{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
}



.bth-tab-content{
	display: none;
}
.bth-tab-content.current{
	display: block;
}

.xs-tap-des-link{
	display: none;
}
.xs-tap-des-link a{
	max-width: 485px;
	width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background: #685445;
    border: 2px solid #fff;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.page-banner-bth-des {
	    padding-top: 120px;
	    padding-bottom: 150px;
	}
	.bth-des {
	    padding-left: 60px;
	    padding-right: 0px;
	}
	.bth-des {
	    padding-left: 60px;
	    padding-right: 0px;
	}
	.bth-des-title {
	    font-size: 57px;
	}
	.bth-tap-left-des {
	    padding-right: 60px;
	}
	.bth-tap-des-title {
	    font-size: 45px;
	    margin-bottom: 30px;
	}
	.bth-rp-des {
	    padding-left: 60px;
	    padding-right: 0px;
	}
	.bth-rp-des-title {
	    font-size: 45px;
	}
}

@media(max-width: 1199px){
	.bth-des {
	    padding-left: 45px;
	    padding-right: 0px;
	}
	.bth-des-title {
	    font-size: 52px;
	    margin-bottom: 28px
	}
	.bth-des p {
	    line-height: 1.5;
	    margin-bottom: 30px;
	}
	.bth-tap-sec {
	    padding-top: 60px;
	    padding-bottom: 100px;
	}
	.bth-tap-sec-des {
	    padding-bottom: 70px;
	}
	.bth-tap-left-des {
	    padding-right: 45px;
	}
	.bth-tap-des-title {
	    font-size: 40px;
	    margin-bottom: 25px;
	}
	.bth-tap-left-des p {
	    line-height: 1.5;
	    margin-bottom: 30px;
	}
	.bth-tab-btn ul li {
	    padding-bottom: 15px;
	}
	.bth-tab-content {
	    margin-top: 55px;
	}
	.bth-rp-des {
	    padding-left: 45px;
	    padding-right: 0px;
	}
	.bth-rp-des-title {
	    font-size: 40px;
	    margin-bottom: 25px;
	}
	.bth-rp-des p {
	    line-height: 1.5;
	    margin-bottom: 30px;
	}
	.bth-rp-sec {
	    padding: 0 0 100px;
	}
	.page-banner-bth-des{
		min-height: 1000px;
	}
}

@media(max-width: 991px){
	.page-banner-bth-des {
	    min-height: 915px;
	}
	.bth-left-img {
	    width: 100%;
	}
	.bth-left-img-1{
		float: left;
		width: 50%;
		padding-right: 10px;
	}
	.bth-left-img-2{
		float: left;
		width: 50%;
		padding-left: 10px;
	}
	.bth-des {
	    padding-left: 0px;
	    padding-right: 0px;
	    width: 100%;
	}
	.bth-des-title {
	    font-size: 46px;
	    margin-bottom: 22px;
	}
	.bth-des-title br{
		display: none;
	}
	.bth-des p {
	    line-height: 1.3;
	    margin-bottom: 22px;
	}
	.bth-tap-left-des {
	    padding-right: 20px;
	}
	.bth-tap-des-title {
	    font-size: 36px;
	    margin-bottom: 20px;
	}
	.bth-tap-left-des p {
	    line-height: 1.2;
	    margin-bottom: 22px;
	}
	.bth-tap-sec-des {
	    padding-bottom: 50px;
	}
	.bth-tab-content {
	    margin-top: 40px;
	}
	.bth-tap-sec {
	    padding-top: 50px;
	    padding-bottom: 70px;
	}
	.bth-rp-des {
	    padding-left: 30px;
	}
	.bth-rp-des-title {
	    font-size: 36px;
	    margin-bottom: 20px;
	}
	.bth-rp-des p {
	    line-height: 1.2;
	    margin-bottom: 22px;
	}
	.bth-tap-des-img {
	    width: 100%;
	    text-align: center;
	}
	.bth-tap-des-img a {
	    margin-left: auto;
	    margin-right: auto;
	}
	.bth-tap-left-des {
	    padding-right: 0px;
	    width: 100%;
	    padding-top: 30px;
	}
	.bth-tap-des-img a{
		display: none;
	}
	.xs-tap-des-link{
		display: block!important;
	}
	.bth-rp-img {
	    width: 100%;
	}
	.bth-rp-des {
	    padding-left: 0px;
	    width: 100%;
	}
	.bth-rp-img ul li {
	    float: left;
	    width: 33.3333%;
	    padding-right: 12px;
	    padding-left: 12px;
	    padding-bottom: 25px;
	}
	.bth-rp-img ul li:nth-child(2n+1){
		clear: initial;
	}
	.bth-rp-img ul li:nth-child(3n+1){
		clear: left;
	}
	.bth-rp-des-top-left-btn {
	    float: initial;
	    width: initial;
	    display: inline-block;
	    max-width: 230px;
	    width: 100%;
	    margin-right: 10px;
	}
	.bth-rp-des-top-rgt-btn {
	    float: initial;
	    width: initial;
	    display: inline-block;
	    max-width: 230px;
	    width: 100%;
	    margin-left: 10px;
	}
	.bth-tap-sec .table{
		overflow-x: scroll;
	}
	.bth-tab-btn ul li button {
	    font-size: 16px;
	    padding: 8px 6px;
	}
	.table tr td {
	    padding: 20px;
	    font-size: 18px;
	}
	.bth-rp-sec-inr {
	    padding-top: 0px;
	}
	.page-banner-bth-des {
	    padding-top: 100px;
	    padding-bottom: 100px;
	}
}

@media(max-width: 767px){
	.bth-left-img {
	    margin-bottom: 20px;
	}
	.bth-left-img img {
	    margin-bottom: 30px;
	}
	.bth-des-title {
	    font-size: 32px;
	    margin-bottom: 20px;
	}
	.bth-tap-des-title {
	    font-size: 32px;
	    margin-bottom: 20px;
	}
	.bth-tap-left-des p {
	    margin-bottom: 18px;
	}
	.bth-tap-sec {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.bth-tab-btn {
	    padding-left: 0px;
	}
	.bth-tab-btn span {
	    display: block;
	    font-size: 32px;
	    position: initial;
	    text-align: center;
	    margin-bottom: 30px;
	}
	.bth-tab-content {
	    margin-top: 30px;
	}
	/*.table tr td {
	    padding: 15px;
	    font-size: 20px;
	}
	.table tr td span {
	    margin-left: 0px;
	}*/
	.bth-tap-sec-des {
	    padding-bottom: 50px;
	}
	.bth-rp-des-title {
	    font-size: 32px;
	    margin-bottom: 20px;
	}
	.bth-rp-des p {
	    margin-bottom: 18px;
	}
	.bth-left-img-1 {
	    width: 100%;
	    padding-right: 0;
	}
	.bth-left-img-2 {
	    width: 100%;
	    padding-left: 0;
	}
	.bth-rp-img ul li {
	    width: 50%;
	}
	.bth-rp-img ul li:nth-child(3n+1){
		clear: initial;
	}
	.bth-rp-img ul li:nth-child(2n+1){
		clear: left;
	}
	
}

@media(max-width: 575px){
	.bth-des-title {
	    font-size: 30px;
	    margin-bottom: 15px;
	}
	.bth-des p {
	    line-height: 1.2;
	    margin-bottom: 15px;
	}
	.bth-tap-des-title {
	    font-size: 30px;
	    margin-bottom: 15px;
	}
	.bth-tap-left-des p {
	    margin-bottom: 15px;
	}
	.bth-tap-sec-des {
	    padding-bottom: 30px;
	}
	.bth-tab-btn span {
	    font-size: 28px;
	}
	.bth-rp-des-title {
	    font-size: 30px;
	    margin-bottom: 15px;
	}
	.bth-rp-des p {
	    margin-bottom: 15px;
	}
	.bth-rp-des-top-left-btn {
		display: block;
	    margin-right: 0px;
	    margin-bottom: 10px;
	}
	.bth-rp-des-top-rgt-btn {
		display: block;
	    margin-left: 0;
	    margin-top: 10px;
	}
}

@media(max-width: 479px){
	.bth-rp-img ul {
	    margin-left: 0;
	    margin-right: 0;
	}
	.bth-rp-img ul li {
	    width: 100%;
	}
	.bth-rp-img ul li img{
		width: 100%;
	}

}

@media(max-width: 359px){

}

