.lb-cntinfo-sec{
	margin-top: 142px;
	margin-bottom: 100px;
}
.lb-cntinfo-leftsidebar{
	float: left;
	width: 40.3508%;
}
.lb-cntinf-right-form{
	float: right;
	width: 59.6491%;
}

.lb-cntinf-ls-title,
.lb-cntinf-rf-title{
	display: block;
	font-size: 47px;
	line-height: 1;
	margin-bottom: 70px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'CenturyGothic';
}
.lb-cntinfo-leftsidebar-adrs,
.lb-cntinfo-leftsidebar-phn,
.lb-cntinfo-leftsidebar-mail,
.lb-cntinfo-leftsidebar-hours{
	padding-left: 62px;
	padding-bottom: 60px;
	position: relative;
}
.lb-cntinfo-leftsidebar-adrs i,
.lb-cntinfo-leftsidebar-phn i,
.lb-cntinfo-leftsidebar-mail i,
.lb-cntinfo-leftsidebar-hours i{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 42px;
} 
.lb-cntinfo-leftsidebar-phn i{
	transform: rotate(90deg);
}

.lb-cnt-adr-title,
.lb-cnt-phn-title,
.lb-cnt-mail-title,
.lb-cnt-hour-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.lb-cntinfo-leftsidebar-adrs a,
.lb-cntinfo-leftsidebar-phn a{
	color: #fff;
	line-height: 35px; 
	display: block;
}
.lbcntinls-gen,
.lbcntinls-sal,
.lbcntinls-shop{
	padding-left: 12px;
}
.lbcntinls-gen span{
	line-height: 35px;
}
.lbcntinls-gen a,
.lbcntinls-sal a,
.lbcntinls-shop a{
	color: #fff;
	line-height: 35px;
}
.lb-cntinfo-leftsidebar-adrs a:hover,
.lb-cntinfo-leftsidebar-phn a:hover,
.lbcntinls-gen a:hover,
.lbcntinls-sal a:hover,
.lbcntinls-shop a:hover{
	color: #685445;
}
.lb-cntinfo-leftsidebar-hours span{
	display: block;
	line-height: 35px;
	padding-left: 12px;
}


.name,
.mail,
.subject,
.msg{
	margin-bottom: 25px;
}
.firstname{
	float: left;
	width: 50%;
}
.lastname{
	float: right;
	width: 50%;
}
.firstname input[type=text],
.lastname input[type=text]{
	width: 330px;
	height: 60px;
	padding-left: 22px;
	color: #2F2E2E;
	text-transform: uppercase;
	font-style: italic;
}
.mail input[type=text],
.subject input[type=text]{
	width: 680px;
	height: 60px;
	padding-left: 22px;
	color: #2F2E2E;
	text-transform: uppercase;
	font-style: italic;
}
.msg textarea{
	width: 680px;
	height: 358px;
	padding-left: 22px;
	padding-top: 25px;
	color: #2F2E2E;
	text-transform: uppercase;
	font-style: italic;
	resize: none;
}
.cnt-btn input[type=submit]{
	font-size: 14px;
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #685445;
	border: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	cursor: pointer;
}
.cnt-btn input[type=submit]:hover{
	background: #fff;
	color: #685445;
}

.lb-cnt-google-map-sec{
	position: relative;
}
.lb-cnt-google-map-sec iframe{
	width: 100%;
	height: 620px;
}

/*.lb-cnt-gm-top-angel{
	background: url('../images/lb-cnt-gm-top-angel.png');
	background-repeat: repeat-x;
    background-position: center bottom;
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}*/



/*banner page*/

.cnt-ctlr .header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.page-banner-cnt-controller{
	min-height: 750px;
}
.page-banner-cnt-bg{
	height: 750px;
}
.page-banner-cnt{
	position: relative;
}
.page-banner-cnt-des{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	padding-top: 300px;
}

.cnt-banner-page-title{
	display: block;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 48px;
	font-weight: 700;
	text-transform: uppercase;
}

.lb-cnt-page-title{
	display: block;
	font-size: 47px;
	line-height: 1;
	margin-bottom: 38px;
	font-weight: 400;
	font-family: 'CenturyGothic';
	text-transform: capitalize;
}

.lb-cnt-page-btm-border{
	background: url('../images/lb-cnt-page-btm-border.png');
	background-repeat: repeat-x;
    background-position: center bottom;
    height: 83px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


.lb-cnt-page-socials-media ul li{
	display: inline-block;
	padding-left: 13px;
	padding-right: 13px;
}
.lb-cnt-page-socials-media ul li:first-child{
	padding-left: 0;
}
.lb-cnt-page-socials-media ul li a{
	display: inline-block;
	color: #fff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.lb-cnt-page-socials-media ul li a:hover{
	color: #685445;
}