.lb-cntinfo-sec{
	margin-top: 100px;
	margin-bottom: 10px;
}
.lb-cntinfo-leftsidebar{
	float: left;
	width: 40.3508%;
}
.lb-cntinf-right-form{
	float: right;
	width: 59.6491%;
}

.lb-cntinf-ls-title,
.lb-cntinf-rf-title{
	display: block;
	font-size: 47px;
	line-height: 1;
	margin-bottom: 70px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'CenturyGothic';
}
.lb-cntinfo-leftsidebar-adrs,
.lb-cntinfo-leftsidebar-phn,
.lb-cntinfo-leftsidebar-mail,
.lb-cntinfo-leftsidebar-hours{
	padding-left: 62px;
	padding-bottom: 60px;
	position: relative;
}
.lb-cntinfo-leftsidebar-adrs i,
.lb-cntinfo-leftsidebar-phn i,
.lb-cntinfo-leftsidebar-mail i,
.lb-cntinfo-leftsidebar-hours i{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 42px;
} 
.lb-cntinfo-leftsidebar-phn i{
	transform: rotate(90deg);
}

.lb-cnt-adr-title,
.lb-cnt-phn-title,
.lb-cnt-mail-title,
.lb-cnt-hour-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: -10px;
}

.lb-cntinfo-leftsidebar-adrs a,
.lb-cntinfo-leftsidebar-phn a{
	color: #fff;
	line-height: 35px; 
}
.lb-cntinfo-leftsidebar-phn a{
	display: block;
}
.lbcntinls-gen,
.lbcntinls-sal,
.lbcntinls-shop{
	padding-left: 12px;
}
.lbcntinls-gen span{
	line-height: 35px;
}
.lbcntinls-gen a,
.lbcntinls-sal a,
.lbcntinls-shop a{
	color: #fff;
	line-height: 35px;
}
.lb-cntinfo-leftsidebar-adrs a:hover,
.lb-cntinfo-leftsidebar-phn a:hover,
.lbcntinls-gen a:hover,
.lbcntinls-sal a:hover,
.lbcntinls-shop a:hover{
	color: #FF7274;
}
.lb-cntinfo-leftsidebar-hours span{
	display: block;
	line-height: 35px;
	padding-left: 12px;
}

.lb-inputfields-row.diveder2{
	margin-left: -10px;
	margin-right: -10px;
}
.diveder2 .lb-inputfield{
	float: left;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}
.lb-inputfield{
	width: 100%;
	margin-bottom: 25px;
}
.lb-inputfield input{
	width: 100%;
}

.lb-inputfield input[type=text],
.lb-inputfield input[type=email]{
	height: 60px;
	padding-left: 22px;
	color: #2F2E2E;
	text-transform: uppercase;
	font-style: italic;
	background: #F6ECE0;
	border: 1px solid #F6ECE0;
}
.lb-inputfield textarea{
	width: 100%;
	height: 358px;
	padding-left: 22px;
	padding-top: 25px;
	color: #2F2E2E;
	text-transform: uppercase;
	font-style: italic;
	resize: none;
	background: #F6ECE0;
	border: 1px solid #F6ECE0;
}
.lb-inputfield input[type=text]:focus,
.lb-inputfield input[type=email]:focus,
.lb-inputfield textarea:focus{
	border-color: #FF7274;
}
.cnt-btn input[type=submit]{
	font-size: 14px;
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #685445;
	border: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	cursor: pointer;
}
.cnt-btn input[type=submit]:hover{
	border-color: #FF7274;
    background-color: #FF7274;
}


.lb-cnt-google-map-sec{
	position: relative;
	padding: 0;
}
.lb-cnt-google-map-sec iframe{
	width: 100%;
	height: 620px;
}

.lb-cnt-gm-top-angle{
	position: absolute;
	left: 0;
	right: 0;
	top: -1px;
}

.lb-cnt-gm-btm-angle{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3px;
}

/*banner page*/

.cnt-ctlr .header,
.bth-ctlr .header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.page-banner-cnt-des{
	min-height: 540px;
	height: 100%;
}

.page-banner-cnt-des-inner{
	padding-top: 160px;
}

.cnt-banner-page-title{
	display: block;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 48px;
	font-weight: 700;
	text-transform: uppercase;
}

.lb-cnt-page-title{
	display: block;
	font-size: 47px;
	line-height: 1;
	margin-bottom: 32px;
	font-weight: 400;
	font-family: 'CenturyGothic';
	text-transform: capitalize;
	color: #F6ECE0;
}

.lb-cnt-page-btm-border svg.lb-cnt-page-btm-border-svg{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: auto;
    max-height: 83px;
    max-width: 100%;
    width: 100%;
}
.lb-cnt-page-bnr-top{
	background: url('../images/lb-cnt-page-top-border.png');
	background-repeat: repeat-x;
    background-position: center top;
    height: 45px;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
}


.lb-cnt-page-socials-media ul li{
	display: inline-block;
	padding-left: 13px;
	padding-right: 13px;
}
.lb-cnt-page-socials-media ul li:first-child{
	padding-left: 0;
}
.lb-cnt-page-socials-media ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 30px;
	color: #fff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.lb-cnt-page-socials-media ul li a:hover{
	color: #FF7274;
}


.lb-inputfield input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield input[type=text]::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield input[type=text]:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield input[type=text]:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #2F2E2E;
}


.lb-inputfield input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield input[type=email]::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield input[type=email]:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield input[type=email]:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #2F2E2E;
}


.lb-inputfield textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield textarea::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield textarea:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #2F2E2E;
}
.lb-inputfield textarea:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #2F2E2E;
}


.contact-ctlr .footer-wrp {
    padding: 45px 0 0;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.cnt-banner-page-title {
	    font-size: 57px;
	    margin-bottom: 44px;
	}
	.lb-cnt-page-title {
	    font-size: 45px;
	    margin-bottom: 30px;
	}
	.lb-cntinf-ls-title, 
	.lb-cntinf-rf-title {
	    font-size: 45px;
	    margin-bottom: 60px;
	}
}

@media(max-width: 1199px){
	.cnt-banner-page-title {
	    font-size: 52px;
	    margin-bottom: 38px;
	}
	.lb-cnt-page-title {
	    font-size: 40px;
	}
	.lb-cntinf-ls-title, 
	.lb-cntinf-rf-title {
	    font-size: 40px;
	    margin-bottom: 50px;
	}
	.lb-cnt-adr-title, 
	.lb-cnt-phn-title, 
	.lb-cnt-mail-title, 
	.lb-cnt-hour-title {
	    font-size: 28px;
	}
}

@media(max-width: 991px){
	.cnt-banner-page-title {
	    font-size: 46px;
	    margin-bottom: 30px;
	}
	.lb-cnt-page-title {
	    font-size: 36px;
	    margin-bottom: 25px;
	}
	.lb-cnt-page-socials-media ul li a{
		font-size: 27px;
	}
	.lb-cntinfo-leftsidebar {
	    width: 50%;
	    padding-right: 10px;
	}
	.lb-cntinf-ls-title, 
	.lb-cntinf-rf-title {
	    font-size: 36px;
	    margin-bottom: 42px;
	}
	.lb-cnt-adr-title, 
	.lb-cnt-phn-title, 
	.lb-cnt-mail-title, 
	.lb-cnt-hour-title {
	    font-size: 25px;
	}
	.lb-cntinfo-leftsidebar-adrs i, 
	.lb-cntinfo-leftsidebar-phn i, 
	.lb-cntinfo-leftsidebar-mail i, 
	.lb-cntinfo-leftsidebar-hours i {
	    font-size: 38px;
	}
	.lb-cntinfo-leftsidebar-adrs a, 
	.lb-cntinfo-leftsidebar-phn a,
	.lbcntinls-gen a, 
	.lbcntinls-sal a, 
	.lbcntinls-shop a,
	.lb-cntinfo-leftsidebar-hours span {
	    line-height: 30px;
	}
	.lb-cntinfo-leftsidebar-adrs, 
	.lb-cntinfo-leftsidebar-phn, 
	.lb-cntinfo-leftsidebar-mail, 
	.lb-cntinfo-leftsidebar-hours {
	    padding-left: 55px;
	    padding-bottom: 45px;
	}
	.lb-cntinf-right-form {
	    width: 50%;
	}
	
}

@media(max-width: 767px){
	.page-banner-cnt-des {
	    min-height: 400px;
	    height: 100%;
	}
	.cnt-banner-page-title {
	    font-size: 38px;
	    margin-bottom: 25px;
	}
	.lb-cnt-page-title {
	    font-size: 32px;
	    margin-bottom: 22px;
	}
	.lb-cntinfo-leftsidebar {
	    width: 100%;
	    padding-right: 0px;
	}
	.lb-cntinf-right-form {
	    width: 100%;
	    padding-bottom: 30px;
	}
	.lb-cntinf-ls-title, .lb-cntinf-rf-title {
	    font-size: 32px;
	    margin-bottom: 35px;
	}
	.lb-cnt-adr-title, 
	.lb-cnt-phn-title, 
	.lb-cnt-mail-title, 
	.lb-cnt-hour-title {
	    font-size: 22px;
	}
	.lb-cntinfo-leftsidebar-adrs i, 
	.lb-cntinfo-leftsidebar-phn i, 
	.lb-cntinfo-leftsidebar-mail i, 
	.lb-cntinfo-leftsidebar-hours i {
	    font-size: 32px;
	}
	.lb-cntinfo-leftsidebar-adrs, 
	.lb-cntinfo-leftsidebar-phn, 
	.lb-cntinfo-leftsidebar-mail, 
	.lb-cntinfo-leftsidebar-hours {
	    padding-left: 45px;
	    padding-bottom: 38px;
	}
	.lb-cntinf-ls-title{
	    margin-bottom: 40px;
	}
	.lb-inputfields-row.diveder2 {
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.diveder2 .lb-inputfield {
	    width: 100%;
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.lb-inputfield {
	    margin-bottom: 20px;
	}
}

@media(max-width: 575px){
	.cnt-banner-page-title {
	    font-size: 30px;
	    margin-bottom: 22px;
	}
	.lb-cnt-page-title {
	    font-size: 28px;
	    margin-bottom: 15px;
	}
	.lb-cnt-page-socials-media ul li {
	    padding-left: 8px;
	    padding-right: 8px;
	}
	.lb-cnt-page-socials-media ul li a {
	    font-size: 22px;
	}
	.lb-cntinf-ls-title, .lb-cntinf-rf-title {
	    font-size: 28px;
	    margin-bottom: 30px;
	}
	.lb-cntinf-ls-title {
	    margin-bottom: 35px;
	}
	.lb-cnt-adr-title, 
	.lb-cnt-phn-title, 
	.lb-cnt-mail-title, 
	.lb-cnt-hour-title {
	    font-size: 20px;
	    margin-bottom: 10px;
	}
	.lb-cntinfo-leftsidebar-adrs a, 
	.lb-cntinfo-leftsidebar-phn a, 
	.lbcntinls-gen a, .lbcntinls-sal a, 
	.lbcntinls-shop a, 
	.lb-cntinfo-leftsidebar-hours span {
	    line-height: 20px;
	}

}

@media(max-width: 479px){
	.lb-cnt-page-title {
	    font-size: 24px;
	    margin-bottom: 15px;
	}
	.lb-cntinf-ls-title, 
	.lb-cntinf-rf-title {
	    font-size: 25px;
	}

}

@media(max-width: 359px){
	.cnt-btn input[type=submit]{
		width: 290px;
	}
}


