body{
	margin-bottom: 723px;
}
.footer-wrp{
	padding: 90px 0 0;
	position: fixed!important;
	left: 0;
	right: 0;
	bottom: 0;
	height: 723px;
	-webkit-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    -moz-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    transition: left .33s cubic-bezier(.694,.0482,.335,1);
    z-index: 1!important;
}
.ftr-logo{
	margin-top: -30px;
}
.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-visit-col{
	padding-right: 20px;
}
.ftr-col .ftr-col-title{
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 30px;
	display: block;
}
.ftr-col p{
	margin-bottom: 20px;
}
.ftr-col p a{
	color: #fff;
}
.ftr-col p:last-of-type{
	margin-bottom: 5px;
}
.footer-btm-con-wrap{
	padding: 20px 0 30px;
	background: #000000;
}
.footer-btm-con{
	display: flex;
	align-items: center;
}
.ftr-socila ul{
	padding-right: 65px;
}
.ftr-socila ul li,
.ftr-socila ul li a{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-socila ul li a:hover{
	opacity: .7;
}

.ftr-copyright-text p{
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ftr-logo a{
		max-width: 200px;
	}
	.ftr-col p{
		font-size: 18px;
	}
}

@media(max-width: 991px){
	.ftr-logo a{
		margin: 0 auto 40px;
		display: table;
	}
	
}

@media(max-width: 767px){
	.footer-btm-con{
		display: block;
		text-align: center;
	}
	.ftr-socila ul {
	    padding-right: 0;
	    padding-bottom: 15px;
	}
	.ftr-col{
		padding: 0 0 50px 0;
		max-width: 500px;
		margin-left: auto;
		margin: auto;
		text-align: center;
	}
	.ftr-col p {
	    font-size: 17px;
	}
	.ftr-logo a{
		margin-bottom: 0;
	}
	.ftr-col .ftr-col-title{
		margin-bottom: 20px;
	}
}
@media(max-width: 639px){
	.ftr-socila ul li a{
		max-width: 50px;
	}
	.ftr-logo a{
		max-width: 170px;
	}
}


@media(max-width: 575px){
	.ftr-socila ul li a{
		max-width: 45px;
	}
	.ftr-copyright-text p{
		font-size: 17px;
	}
	.ftr-logo a{
		max-width: 150px;
	}

}

@media(max-width: 479px){
	.ftr-logo a{
		max-width: 130px;
	}

}

@media(max-width: 359px){

}