.header{
	padding: 0 0 0;
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
}
.hdr-gap{
	min-height: 130px;
}
/*body.hasSticky header.header{
	top: 0;
	left: 0;
	right: 0;
	z-index: 150;
	transition: all 0.3s ease;
}

body.hasSticky #fixedHeader{
    top: 0;
    z-index: 110;
}
#fixedHeader{
    position: fixed;
    left: 0;
    top: -200px;
    right: 0;
    z-index: -110;
    height: 60px;
    transition: all 0.3s ease;
}

#fixedHeader nav.main-nav > ul > li > a {
    font-size: 20px;
}
#fixedHeader .logo a img{
	max-width: 80px;
}
#fixedHeader .hdr-humbergur-btn{
	width: 50px;
	height: 31px;
}
#fixedHeader .hdr-humbergur-btn span{
	border-radius: 6px;
	height: 6px;
}
#fixedHeader .hdr-humbergur-btn span:nth-child(2) {
    top: 12px;
}
#fixedHeader .hdr-humbergur-btn span:nth-child(3) {
    top: 24px;
}

#fixedHeader nav.main-nav {
    padding-top: 35px;
}
#fixedHeader .hdr-humbergar{
	padding-top: 30px;
}

#fixedHeader .header-inr {
    min-height: 85px;
}
#fixedHeader .logo{
	top: 3px;
}
#fixedHeader .hdr-btm-angle{
	bottom: -22px;
}
#fixedHeader li.menu-item-has-children > a:after{
	top: 3px;
	font-size: 20px;
}

#fixedHeader nav.main-nav > ul > li.current-menu-item > a:before,
#fixedHeader nav.main-nav > ul > li:hover > a:before{
	content: "";
	width: 10px;
	right: 0;
	top: -5px;
}
*/


.hdr-bg{

}
.header-inr{
	min-height: 130px;
}
.hdr-btm-angle{
/*	background: url(../images/hdr-btm-angle.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 44px;*/
	position: absolute;
	left: 0;
	right: 0;
	bottom: -39px;
}
.hdr-lft{
	float: left;
	padding-right: 40px;
	width: 159px;
	position: relative;
}
.hdr-rgt{
	float: right;
}
.hdr-rgt-inr{
	display: flex;

}
.logo{
	position: absolute;
	left: 0;
	top: 0;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}

nav.main-nav{
	padding-top: 50px;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 10px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
nav.main-nav > ul > li:last-child{
	padding-right: 0;
}
nav.main-nav > ul > li > a{
	color: #fff;
	font-size: 27px;
	line-height: 1;
	padding: 0 25px 20px;
	position: relative;
	display: inline-block;
	vertical-align: baseline;
}

nav.main-nav > ul > li.current-menu-item > a{

}
nav.main-nav > ul > li.current-menu-item > a:after{
	content: "";
	width: 124px;
	height: 14px;
	background: url(../images/menu-active-line.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
nav.main-nav > ul > li.current-menu-item > a:before,
nav.main-nav > ul > li:hover > a:before{
	content: "";
	width: 14px;
	height: 15px;
	background: url(../images/star.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: -5px;
	background-size: 100% auto;
}
nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}


.hdr-humbergar{
	margin-left: auto;
	padding-left: 40px;
	padding-top: 43px;
	padding-right: 10px;
	position: relative;
}

.hdr-humbergur-btn{
	width: 66px;
	height: 38px;
	position: relative;
	cursor: pointer;
}
.hdr-humbergur-btn span{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	height: 8px;
	-webkit-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    border-radius: 10px;
}
.hdr-humbergur-btn span:nth-child(1){
	top: 0;
}
.hdr-humbergur-btn span:nth-child(2){
	top: 16px;
}
.hdr-humbergur-btn span:nth-child(3){
	top: 32px;
}

.menu-expend span:nth-child(1) {
    top: 45%;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 0;
    width: 100%;
}
.menu-expend span:nth-child(2) {
    opacity: 0;
}
.menu-expend span:nth-child(3) {
    top: 17px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100%;
}

.hdr-toogle-menu{
    position: absolute;
    top: 100%;
    right: 0;
    background: #E9EAEF;
    border-radius: 5px;
    padding: 25px 15px 0;
    margin-top: 5px;
    z-index: 15;
    display: none;
    width: 210px;
    display: none;
}
.hdr-toogle-menu ul li {
    font-size: 16px;
    line-height: 1;
    padding-bottom: 25px;
}

.hdr-toogle-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #000;
}

nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 205px;
	padding: 5px 0 0 0;
	background: #fff;
	border-top: 2px solid #222020;
	z-index: 30;
	box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav  ul.sub-menu li{
	padding: 0 0 0 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
nav.main-nav ul.sub-menu li a{
	color: #9e9ea1;
	font-size: 15px;
	display: block;
	padding: 10px 20px;
	position: relative;
}

nav.main-nav ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #222020;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav ul.sub-menu li:hover:after {
    height: 100%;
}

/*xs menu*/
.xs-nav-cntlr{
	opacity: 0;
	z-index: -999999;
	width: 0;
	position: absolute;
	height: 0;
	text-indent: -999px;
}

.main-nav-menu-bar-xs{
	display: flex;
	justify-content: flex-end;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.menu-closebtn{
	float: right;
}
.menu-closebtn:hover{
	opacity: .7;
}
.main-nav-menu-bar-xs > div{
	display: flex;
	align-items: center;
}

.xs-popup-btm-content ul li{
	display: inline-block;
	vertical-align: baseline;
	text-align: left;
	padding: 0 5px 10px;
}
.xs-popup-btm-content ul li a{
	color: inherit;
}
.xs-popup-btm-content ul li a:hover{
	color: #FF7274;
}
.xs-popup-btm-content{
	padding-top: 40px;
}
/*-----xs menu */
.menu-expend span:nth-child(1) {
    top: 45%;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 0;
    width: 100%;
}
.menu-expend span:nth-child(2) {
    opacity: 0;
}
.menu-expend span:nth-child(3) {
    top: 9px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100%;
}
.menu-closebtn {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	margin-left: auto;
	
}
.menu-closebtn span {
    position: inherit;
    left: 0px;
    height: 4px;
    width: 100%;
    background: #000;
    top: 0;
    display: block;
    position: absolute;
}
.menu-closebtn span:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.menu-closebtn span:last-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    top: 1px;
}
body.active-scroll-off{
	overflow: hidden!important;
}
.bdoverlay.active {
    z-index: 99;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.xs-nav-cntlr{
    position: fixed;
    top: 0;
    right: -250px;
    bottom: 0;
    background: #fff;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    max-width: 350px;
    width: 0;
    z-index: -1;
    opacity: 0;
}
.xs-nav-cntlr.opacity-1 {
    right: 0;
    opacity: 1;
    z-index: 100;
    width: 100%;
    height: initial;
    text-indent: initial;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.xs-nav-inr{
	position: relative;
	overflow-y: scroll;
	padding: 40px 20px 50px;
	height: 100%;
	width: 100%;
}
.xs-main-nav ul li{
	padding: 10px 5px;
	border-bottom: 1px solid #ccc;
}
.xs-main-nav ul li a{
	font-size: 16px;
	color: #000;
	display: block;
	position: relative;
}
.xs-main-nav > ul > li:hover > a,
.xs-main-nav > ul > li.current-menu-item > a{
	color: #FF7274;
}
.xs-main-nav > ul > li > a{
	text-transform: uppercase;
}
.xs-nav-cntlr .sub-menu{
	display: none;
	padding-top: 10px;
}
.xs-main-nav > ul > li > ul li a{
	font-size: 14px;
}
.xs-main-nav > ul > li > ul > li{
	text-transform: capitalize;
}
.xs-main-nav > ul > li > ul li:last-child{
	border-bottom: none;
}

li.menu-item-has-children > a:after {
    content: "\f107"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #fff;
    font-size: 22px;
    padding-right: 0;
    position: absolute;
    top: 8px;
    right: 5px;
    line-height: 15px;
}
li.menu-item-has-children:hover a:after{
	content: "\f106"!important;
}
li.menu-item-has-children > a.sub-menu-active:after{
	content: "\f107"!important;
}
/*menu end */

.xs-main-nav li.menu-item-has-children > a:after{
	color: #000;
	top: 2px;
}

.xs-main-nav li.menu-item-has-children > a:after {
    content: "\f107"!important;
}
.xs-main-nav li.menu-item-has-children > a.sub-menu-active:after {
    content: "\f106"!important;
    top: 3px;
}
@media(max-width: 1499px){
	nav.main-nav > ul > li{
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media(max-width: 1399px){
	nav.main-nav > ul > li{
		padding-left: 10px;
		padding-right: 10px;
	}
	nav.main-nav > ul > li > a{
		font-size: 25px;
	}
}

@media(max-width: 1299px){
	nav.main-nav > ul > li > a {
	    font-size: 20px;
	}
}

@media(max-width: 1199px){
	.main-nav{
		display: none;
	}
	#fixedHeader .logo {
	    top: -1px;
	}
	#fixedHeader .hdr-humbergar {
	    padding-top: 22px;
	}
	#fixedHeader .hdr-btm-angle {
	    bottom: -30px;
	}
	#fixedHeader .hdr-humbergar {
	    padding-top: 25px;
	}
}

@media(max-width: 991px){
	
	
}

@media(max-width: 767px){
	
}

@media(max-width: 575px){
	.hdr-humbergur-btn{
		width: 50px;
	}

}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}