body{
	position: relative;
}
.sections-cntlr{
	overflow: hidden;
}
.home-overlay{
	/*background-image: url(../images/home-overlay-bg.jpg);*/

	background: #2d2d2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #2d2d2d 0%, #020202 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2d2d2d 0%,#020202 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2d2d2d 0%,#020202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#020202',GradientType=0 ); /* IE6-9 */

	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
}
.logo-overlay a{
	display: inline-block;
	vertical-align: baseline;
}
.home-overlay-inr{
	
}
.home-overlay-inr{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-overlay-graphics{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.home-overlay-graphics img{
	max-height: 100%;
}
.home-overlay-des{
	text-align: center;
	position: relative;
	z-index: 2;
}
.home-overlay-des p{
	font-size: 32px;
	line-height: 1.2;
	padding-left: 15px;
	padding-right: 15px;
}
.home-overlay-des > a{
	background: url(../images/enter-now-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	max-width: 409px;
	width: 100%;
	height: 136px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 55px;
	line-height: 1;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 14px;
}
.home-overlay-des > a:hover{
	color: #FF7274;
}

.home-overlay-graphics{
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-@keyframes preloadzoominout {
	0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloadzoominout {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.sections-cntlr section,
.sections-cntlr footer{
	position: relative;
	z-index: 2;
}
.sections-cntlr{
	position: relative;
}
.global-graphics-mid{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1670px;
	text-align: center;
	z-index: 1;
}
.global-graphics-btm{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 150px;
	text-align: center;
	z-index: 1;
}
.section-graphics-top{
	position: absolute;
	left: 0;
	right: 0;
	top: 418px;
	text-align: center;
	z-index: 1;
}
.main-slider-sec{
	padding: 50px 0 0;
	margin-top: -125px;
	position: relative;
	z-index: 1;
}
.mainSlideItem{
	padding-top: 0;
	min-height: 640px;
	padding-bottom: 40px;
}
.mainSlideItemInr{
	display: flex;
	align-items: center;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 125px;
}
.mainSlideItem-des{
	width: 50%;
	color: #0b0b0b;
	margin-top: -40px;
}
.mainSlideItem-des strong{
	display: block;
	font-size: 104px;
	line-height: 1;
	text-transform: uppercase;
	font-family: 'CenturyGothic';
}
.mainSlideItem-des span{
	display: block;
	font-size: 41px;
	line-height: 1.1;
	text-transform: uppercase;
}
.mainSlideItem-fea-img{
	width: 50%;
	text-align: right;
	order: 2;
}
.mainSlideItem-fea-img img{
	display: inline-block;
	vertical-align: baseline;
}


.mainSlider .mainSlideItem.slick-current .mainSlideItem-fea-img{
  -webkit-animation-name: fadeInRightShort;
  animation-name: fadeInRightShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.mainSlider .mainSlideItem.slick-current .mainSlideItem-des strong{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;	
}

.mainSlider .mainSlideItem.slick-current .mainSlideItem-des span{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;	
}


.mainSlider .slick-prev,
.mainSlider .slick-next{
	width: 79px;
	height: 79px;
	opacity: 1;
	z-index: 15;
	background-color: rgba(0,0,0,.4);
	border-radius: 100% 100%;
}
.mainSlider .slick-prev:hover,
.mainSlider .slick-next:hover{
	background-color: rgba(0,0,0,1);
}
.mainSlider .slick-prev:before,
.mainSlider .slick-next:before{
	content: none;
}
.mainSlider .slick-prev{
	left: 70px;
	background-image: url(../images/prev.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.mainSlider .slick-next{
	right: 70px;
	background-image: url(../images/next.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.mainSlider.slick-slider ul.slick-dots{
	position: absolute!important;
	left: 0;
	right: 0;
	bottom: 70px;
	z-index: 20;
}
.hm-cat-secton{
	padding: 0 0 100px;
}
.hm-cat-item{
	height: 260px;
	border: 2px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.hm-cat-item:hover{
	border-color: #cb6366;
}
.hm-cat-secton ul{
	margin: 0 -15px;
}
.hm-cat-secton ul li{
	float: left;
	width: 25%;
	padding: 0 15px 30px;
}
.hm-cat-secton ul li:nth-child(4n+1){
	clear: left;
}
.hm-cat-item strong{
	font-size: 41px;
	line-height: 1.2;
	text-align: center;
	display: block;
	font-weight: normal;
	font-family: 'CenturyGothic';
	padding-left: 10px;
	padding-right: 10px;
}


.hm-beer-list-sec{
	position: relative;
	padding: 0;
	margin-top: 140px;
	margin-bottom: 140px;
}
/*.beer-list-sec-top-angle svg.beer-list-sec-btm-angle-svg{
    top: -9px;
}*/
.beer-list-sec-top-angle{
	position: absolute;
	top: auto;
	bottom: 100%;
	left: 0;
	right: 0;
}
.beer-list-sec-btm-angle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    top: 100%;
   /* height: 70px;*/
/*    background: url(../images/beer-list-sec-btm-angle.png);
    background-repeat: repeat-x;
    background-position: center top;*/
    z-index: 5;
}

.hm-beer-list-sec-inr{
    /*background: url(../images/hm-beer-list-sec-bg.png);*/
    background: rgba(38,34,35,0.74);
}
.hm-beer-list-sec-hdr{
	text-align: center;
	margin-top: -90px;
}
.hm-beer-list-sec-hdr-title{
	margin-bottom: 60px;
}

.hm-beer-list-grds-cntlr ul{
	margin: 0 -40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.hm-beer-list-grds-cntlr ul li{
	width: 33.3333%;
	padding: 0 40px 0;
}
.fl-product-item{
	border-bottom: 3px solid #ffffff;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.fl-product-item:last-of-type{
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.red-product .fl-product-item-des p i{
	background: #ff001e;
	width: 6px;
	height: 6px;
	border-radius: 100% 100%;
	display: inline-block;
	vertical-align: baseline;
}
.yellow-product .fl-product-item-des p i{
	background: #e1b012;
	width: 6px;
	height: 6px;
	border-radius: 100% 100%;
	display: inline-block;
	vertical-align: baseline;
}
.available-title,
.in-the-tank-title,
.concept-title{
	margin-left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'CenturyGothic';
	margin-bottom: 25px;	
}
.available-title{
	width: 260px;
	height: 76px;
	text-align: center;
	background: url(../images/available-title-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.in-the-tank-title{
	width: 268px;
	height: 80px;
	text-align: center;
	background: url(../images/in-the-tank-title-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.concept-title{
	width: 269px;
	height: 86px;
	text-align: center;
	background: url(../images/concept-title-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.fl-product-item-des{
	font-size: 15px;
	line-height: 1;
}
.fl-product-bts{
	padding-top: 32px;
}
.fl-product-bts > div:last-child a{
	margin-bottom: 0;
}
.fl-product-item-des p{
	margin-bottom: 0;
	line-height: 1.2;
}
.fl-product-item-des h4{
	font-size: 20px;
	line-height: 1;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.fl-product-bts .fl-btn{
	min-width: 125px;
}
.fl-product-item-fea-img{
	float: left;
	width: 40%;
	padding-right: 20px;
}
.fl-product-item-fea-img a{
	display: inline-block;
	vertical-align:baseline;
}
.fl-product-item-des{
	float: left;
	width: 60%;
}

.hm-gallery-img-cntlr ul li{
	float: left;
	width: 20%;
}
.hm-gallery-img-cntlr ul li:nth-child(5n+){
	clear: left;
}
.hm-gallery-item{
	height: 320px;
	cursor: pointer;
}
.hm-gallery-item-img{
	height: 100%;
	width: 100%;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}




.hm-latest-news-sec{
	position: relative;
	padding: 40px 0 10px;
}
.hm-gallery-sec{
	padding-top: 0;
	padding-bottom: 120px;
}
.gallery-sec-btm-anlge{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}
.hm-gallery-sec-bg{
	background: url(../images/gallery-sec-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 0 0 0;
}
/*.gallery-sec-top-anlge{
	position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    height: 52px;
    background: url(../images/gallery-sec-top-angle.png);
    background-repeat: repeat-x;
    background-position: center top;
    z-index: 5;
}*/



.hm-latest-news-sec-hdr{
	text-align: center;
	margin-top: 0;
}
.hm-latest-news-sec-hdr-title{
	margin-bottom: 30px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.hm-latest-news-item-fea-img{
	padding-bottom: 16px;
}
.hm-latest-news-item-fea-img img{
	width: 100%;
}
.hm-latest-news-item-des-title{
	display: block;
	text-align: center;
	margin: 0 0 2px 0;
	font-size: 43px;
	line-height: 1;
}
.hm-latest-news-item-des strong{
	display: block;
	text-align: center;
	margin-bottom: 2px;
}
.hm-latest-news-item-des p{
	margin-bottom: 25px;
}

.hm-latest-news-item-btns{
	max-width: 730px;
	display: flex;
	align-items: center;
}
.hm-lnib-2{
	margin-left: auto;
}

.eco-brewing-sec-hdr{
	margin-top: -90px;
}

.eco-brewing-sec-hdr-title{
	margin-bottom: 45px;
	text-transform: uppercase;
	display: block;
}
.eco-brewing-sec {
    position: relative;
    padding: 144px 0 0;
    margin-bottom: 120px;
}
.eco-brewing-sec-des p:last-of-type{
	margin-bottom: 0;
}
.eco-brewing-sec-top-anlge{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	/*background: url(../images/eco-brewing-sec-top-anlge.png);
	background-repeat: repeat-x;
	background-position: center top;*/
}
.eco-brewing-sec-btm-anlge {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 5;
}
.eco-brewing-sec-inr{
	/*background: url(../images/eco-brewing-sec-bg.png);*/
	background: rgba(38,34,35,.74);

}
.eco-brewing-sec-hdr{
	text-align: center;
}
.eco-brewing-gallery-images{
	padding-bottom: 30px;
}
.eco-brewing-gallery-img{
	height: 235px;
}
.eco-brewing-gallery-img-div{
	width: 100%;
	height: 100%;
}

.eco-brewing-gallery-images ul li{
	float: left;
	width: 25%;
}
.eco-brewing-gallery-images ul li:nth-child(4n+1){
	clear: left;
}

.header{
	background: #000;
}
/*.main-slider-sec{
	padding-top: 40px;
}
.hdr-btm-angle{
	bottom: -35px;
}*/
.main-slider-sec{
	background-size: cover!important;
	max-height: 800px;
}
.sections-cntlr  .hm-cat-secton{
	position: relative;
	background: #000;
	z-index: 3;
	padding-bottom: 30px;
}
.hmSlideDivTop{
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: -100px;
	transform: rotate(180deg);
}
.hmSlideDivBottom {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -70px;
}
.mainSlider.slick-slider ul.slick-dots{
	bottom: 90px;
}
.hm-beer-list-sec{
	margin-top: 0;
}
.hm-beer-list-sec-inr{
	padding-top: 190px;
}
@media(min-width: 1700px){
	.hm-gallery-item{
		height: 355px;
	}
}
@media(min-width: 1920px){
	.hm-gallery-item{
		height: 455px;
	}
}

@media(min-width: 2500px){
	.hm-gallery-item{
		height: 500px;
	}
}
@media(max-width: 1499px){
	.mainSlideItem-des strong{
		font-size: 80px;
	}
	.mainSlideItem-des span{
		font-size: 35px;
	}
}

@media(max-width: 1399px){
	.mainSlider .slick-next{
		right: 20px;
	}
	.mainSlider .slick-prev{
		left: 20px;
	}
	.mainSlideItemInr{
		padding-left: 120px;
		padding-right: 120px;
	}
	.mainSlideItem-des span{
		font-size: 33px;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hm-gallery-item{
		height: 200px;
	}
	.fl-product-item-fea-img{
		width: 32%;
	}
	.fl-product-item-des{
		width: 68%;
	}
	.available-title, .in-the-tank-title, .concept-title{
		font-size: 30px;
	}
	.hm-cat-secton{
		padding-bottom: 70px;
	}
	.hm-cat-item strong{
		font-size: 35px;
	}
	.hm-cat-item{
		height: 235px;
	}
	.mainSlider .slick-prev{
		left: 15px;
	}
	.mainSlider .slick-next{
		right: 15px;
	}
	.mainSlider .slick-prev, .mainSlider .slick-next{
		width: 55px;
		height: 55px;
		background-size: 28px auto;
	}
	.mainSlideItemInr {
	    padding-left: 75px;
	    padding-right: 75px;
	}
	.mainSlideItem-des strong{
		font-size: 65px;
	}
	.mainSlideItem-des span{
		font-size: 30px;
	}
	.mainSlideItem-fea-img img{
		max-width: 350px;
	}
	.mainSlideItem {
	    min-height: 484px;
	}
	.mainSlideItem-des{
		margin-top: -65px;
	}

}

@media(max-width: 991px){
	.hm-gallery-item {
	    height: 165px;
	}
	.available-title, .in-the-tank-title, .concept-title {
	    font-size: 25px;
	}
	.fl-product-item-fea-img{
		width: 100%;
		padding-right: 0;
		padding-bottom: 25px;
		text-align: center;
	}
	.fl-product-item-des{
		width: 100%;
		text-align: center;
	}
	.available-title {
    	width: 225px;
    	height: 68px;
	}
	.in-the-tank-title {
    	width: 215px;
    	height: 67px;
	}
	.concept-title {
    	width: 220px;
    	height: 67px;
	}
	.hm-beer-list-grds-cntlr ul{
		margin: 0 -15px;
	}
	.hm-beer-list-grds-cntlr ul li{
		padding-left: 15px;
		padding-right: 15px;
	}
	.hm-beer-list-grd-title{
		display: flex;
		justify-content: center;
	}
	.hm-latest-news-item-des-title{
		font-size: 35px;
	}
	.hm-cat-secton ul li{
		width: 50%;
	}
	.hm-cat-secton ul li:nth-child(4n+1){
		clear: initial;
	}
	.hm-cat-secton ul li:nth-child(2n+1){
		clear: left;
	}
	.mainSlideItemInr{
		padding-left: 60px;
		padding-right: 60px;
	}
	.mainSlider .slick-prev{
		left: 10px;
	}
	.mainSlider .slick-next {
	    right: 10px;
	}
	.mainSlideItem-des strong {
	    font-size: 52px;
	}
	.mainSlideItem-des span {
	    font-size: 24px;
	}
	.hm-cat-secton ul{
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media(max-width: 767px){
	.eco-brewing-sec-hdr-title{
		margin-bottom: 30px;
	}
	.eco-brewing-gallery-img {
	    height: 165px;
	}
	.hm-gallery-img-cntlr ul li{
		width: 33.3333%;
	}
	.hm-gallery-img-cntlr ul li:nth-child(5n+){
		clear: initial;
	}
	.hm-gallery-img-cntlr ul li:nth-child(3n+){
		clear: left;
	}
	.hm-beer-list-grds-cntlr ul li{
		width: 100%;
	}
	.available-title, .in-the-tank-title, .concept-title{
		margin-left: auto;
		margin-right: auto;
	}
	.fl-product-item{
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}
	.fl-product-item-fea-img{
		width: 35%;
		text-align: left;
		padding-right: 20px;
	}
	.fl-product-item-des{
		width: 65%;
		text-align: left;
	}
	.hm-beer-list-grds-cntlr ul li{
		padding-bottom: 55px;
	}
	.hm-beer-list-grds-cntlr ul li:last-child{
		padding-bottom: 0;
	}
	.hm-latest-news-item-des-title {
	    font-size: 30px;
	}
	.hm-cat-secton{
		padding-bottom: 60px;
	}
	.mainSlideItemInr{
		display: block;
	}
	.mainSlideItem-fea-img,
	.mainSlideItem-des{
		width: 100%;
		text-align: center;
	}
	.main-slider-sec{
		margin-top: -145px;
	}
	.mainSlideItem-fea-img{
		padding-top: 35px;
	}
	.mainSlideItem {
	    min-height: auto;
	    padding-bottom: 120px;
	}
	.mainSlideItem-des{
		margin-top: 0;
	}
	.hm-cat-secton ul{
		padding-left: 0;
		padding-right: 0;
	}
	.eco-brewing-sec-hdr {
	    margin-top: -75px;
	}
}
@media(max-width: 639px){
	.eco-brewing-gallery-images ul li{
		width: 50%;
	}
	.eco-brewing-gallery-images ul li:nth-child(4n+1){
		clear: initial;
	}
	.eco-brewing-gallery-images ul li:nth-child(2n+1){
		clear: left;
	}
	.eco-brewing-gallery-img {
	    height: 175px;
	}
	.hm-cat-secton ul{
		margin-left: -10px;
		margin-right: -10px;
	}
	.hm-cat-secton ul li{
		padding-left: 10px;
		padding-right: 10px;
	}
	.home-overlay-des p{
		font-size: 25px;
	}


}
@media(max-width: 575px){
	.available-title, .in-the-tank-title, .concept-title {
	    font-size: 22px;
	}
	.fl-product-item-des h4{
		font-size: 18px;
	}
	.hm-latest-news-item-des-title {
	    font-size: 26px;
	}
	.hm-latest-news-sec-hdr-title{
		margin-bottom: 25px;
		padding-top: 0;
	}
	.home-overlay-des p{
		font-size: 22px;
	}
	.logo-overlay a{
		max-width: 200px;
	}
	.home-overlay-des > a{
		font-size: 38px;
	}
	.eco-brewing-sec-hdr {
	    margin-top: -64px;
	}
	.hm-cat-item strong {
	    font-size: 25px;
	}
}

@media(max-width: 479px){
	.eco-brewing-gallery-img {
	    height: 165px;
	}
	.hm-gallery-img-cntlr ul li{
		width: 50%;
	}
	.hm-gallery-img-cntlr ul li:nth-child(3n+){
		clear: initial;
	}
	.hm-gallery-img-cntlr ul li:nth-child(2n+){
		clear: left;
	}
	.hm-latest-news-item-des-title {
	    font-size: 24px;
	}

	.hm-cat-item{
		max-width: 250px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.mainSlideItem-fea-img img{
		width: 100%;
	}
	.mainSlider .slick-prev, .mainSlider .slick-next {
	    width: 35px;
	    height: 35px;
	    background-size: 17px auto;
	}
	.mainSlideItemInr {
	    padding-left: 35px;
	    padding-right: 35px;
	}
	.mainSlideItem-des strong {
	    font-size: 34px;
	}
	.mainSlideItem-des span {
	    font-size: 18px;
	}
	.hm-cat-item {
	    height: 170px;
	}
	
}
@media(max-width: 450px){
	
}
@media(max-width: 359px){
	.hm-cat-item strong {
	    font-size: 21px;
	}
}


@media(max-height: 700px){
	.logo-overlay a{
		max-width: 200px;
	}
	.home-overlay-des p{
		font-size: 30px;
	}
}

@media(max-height: 600px){
	.logo-overlay a{
		max-width: 170px;
	}
	.home-overlay-des p {
	    font-size: 22px;
	}
	.home-overlay-des > a{
		font-size: 40px;
		max-width: 375px;
		height: 120px;
	}
}

@media(max-height: 500px){
	.logo-overlay a {
	    max-width: 135px;
	}
	.home-overlay-des p {
	    font-size: 20px;
	}
	.home-overlay-des > a {
	    font-size: 35px;
	    max-width: 350px;
	    height: 115px;
	}
}

@media(max-height: 500px){
	.logo-overlay a {
	    max-width: 95px;
	}
	.home-overlay-des p {
	    font-size: 19px;
	}
	.home-overlay-des > a {
	    font-size: 30px;
	    max-width: 300px;
	    height: 110px;
	}
}

