.sections-cntlr section,
.sections-cntlr footer{
	position: relative;
	z-index: 2;
}
.global-graphics img{
	margin-top: auto;
}
.global-graphics{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	z-index: 1;
	display: flex;
	justify-content: center;
}
.main-slider-sec{
	padding: 50px 0 80px;
	margin-top: -100px;
	position: relative;
	z-index: 1;
}
.mainSlideItem{
	padding-top: 50px;
}
.mainSlideItemInr{
	display: flex;
	align-items: center;
	padding-left: 150px;
	padding-right: 150px;
}
.mainSlideItem-des{
	width: 50%;
	color: #0b0b0b;
}
.mainSlideItem-des strong{
	display: block;
	font-size: 104px;
	line-height: 1;
	text-transform: uppercase;
	font-family: 'CenturyGothic';
}
.mainSlideItem-des span{
	display: block;
	font-size: 41px;
	text-transform: uppercase;
}
.mainSlideItem-fea-img{
	width: 50%;
	text-align: right;
	padding-top: 100px;
}
.mainSlideItem-fea-img img{
	display: inline-block;
	vertical-align: baseline;
}
.mainSlider .slick-prev,
.mainSlider .slick-next{
	width: 79px;
	height: 79px;
	opacity: 1;
	z-index: 15;
	background-color: rgba(0,0,0,.4);
	border-radius: 100% 100%;
}
.mainSlider .slick-prev:before,
.mainSlider .slick-next:before{
	content: none;
}
.mainSlider .slick-prev{
	left: 0;
	background-image: url(../images/prev.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.mainSlider .slick-next{
	right: 0;
	background-image: url(../images/next.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.hm-cat-secton{
	padding: 50px 0 100px;
}
.hm-cat-item{
	height: 260px;
	border: 2px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.hm-cat-item:hover{
	border-color: #cb6366;
}
.hm-cat-secton ul{
	margin: 0 -15px;
}
.hm-cat-secton ul li{
	float: left;
	width: 25%;
	padding: 0 15px 30px;
}

.hm-cat-item strong{
	font-size: 41px;
	line-height: 1.2;
	text-align: center;
	display: block;
	font-weight: normal;
	font-family: 'CenturyGothic';
}


.hm-beer-list-sec{
	position: relative;
	padding: 60px 0 50px;
}
.hm-beer-list-sec-hdr{
	text-align: center;
}
.hm-beer-list-sec-hdr-title{
	margin-bottom: 60px;
}

.hm-beer-list-grds-cntlr ul{
	margin: 0 -40px;
}
.hm-beer-list-grds-cntlr ul li{
	float: left;
	width: 33.3333%;
	padding: 0 40px 0;
}
.fl-product-item{
	border-bottom: 3px solid #ffffff;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.fl-product-item:last-of-type{
	border: none;
}
.red-product .fl-product-item-des p i{
	background: #ff001e;
	width: 6px;
	height: 6px;
	border-radius: 100% 100%;
	display: inline-block;
	vertical-align: baseline;
}
.yellow-product .fl-product-item-des p i{
	background: #e1b012;
	width: 6px;
	height: 6px;
	border-radius: 100% 100%;
	display: inline-block;
	vertical-align: baseline;
}
.available-title{
	margin-left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 260px;
	height: 76px;
	text-align: center;
	background: url(../images/available-title-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 25px;
}
.in-the-tank-title{
	margin-left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 268px;
	height: 80px;
	text-align: center;
	background: url(../images/in-the-tank-title-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 25px;
}
.concept-title{
	margin-left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 269px;
	height: 86px;
	text-align: center;
	background: url(../images/concept-title-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 25px;
}
.fl-product-item-des{
	font-size: 15px;
	line-height: 1;
}
.fl-product-bts{
	padding-top: 32px;
}
.fl-product-item-des p{
	margin-bottom: 0;
	line-height: 1.2;
}
.fl-product-item-des h4{
	font-size: 20px;
	line-height: 1;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.fl-product-bts .fl-btn{
	min-width: 125px;
}
.fl-product-item-fea-img{
	float: left;
	width: 40%;
}
.fl-product-item-des{
	float: left;
	width: 60%;
}

.hm-gallery-img-cntlr ul li{
	float: left;
	width: 20%;
}
.hm-gallery-item{
	height: 320px;
	cursor: pointer;
}
.hm-gallery-item-img{
	height: 100%;
	width: 100%;
}




.hm-latest-news-sec{
	position: relative;
	padding: 100px 0 50px;
}
.hm-latest-news-sec-hdr{
	text-align: center;
}
.hm-latest-news-sec-hdr-title{
	margin-bottom: 30px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.hm-latest-news-item-fea-img{
	padding-bottom: 20px;
}
.hm-latest-news-item-fea-img img{
	width: 100%;
}
.hm-latest-news-item-des-title{
	display: block;
	text-align: center;
	margin: 0 0 2px 0;
	font-size: 43px;
	line-height: 1;
}
.hm-latest-news-item-des strong{
	display: block;
	text-align: center;
	margin-bottom: 2px;
}
.hm-latest-news-item-des p{
	margin-bottom: 25px;
}

.hm-latest-news-item-btns{
	max-width: 730px;
	display: flex;
	align-items: center;
}
.hm-lnib-2{
	margin-left: auto;
}


.eco-brewing-sec-hdr-title{
	margin-bottom: 45px;
	text-transform: uppercase;
	display: block;
}
.eco-brewing-sec{
	position: relative;
	padding: 40px 0 60px;
}
.eco-brewing-sec-top-anlge{
	position: absolute;
	left: 0;
	right: 0;
	top: -21px;
	height: 62px;
	background: url(../images/eco-brewing-sec-top-anlge.png);
	background-repeat: repeat-x;
	background-position: center top;
}
.eco-brewing-sec-btm-anlge{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -21px;
	height: 58px;
	background: url(../images/eco-brewing-sec-btm-anlge.png);
	background-repeat: repeat-x;
	background-position: center top;
	z-index: 5;
}
.eco-brewing-sec-inr{
	background: rgba(35,31,32,.6);

}
.eco-brewing-sec-hdr{
	text-align: center;
}
.eco-brewing-gallery-images{
	padding-bottom: 30px;
}
.eco-brewing-gallery-img{
	height: 235px;
}
.eco-brewing-gallery-img-div{
	width: 100%;
	height: 100%;
}
.eco-brewing-sec{
	padding-bottom: 20px;
}
.eco-brewing-gallery-images ul li{
	float: left;
	width: 25%;
}


@media(max-width: 1499px){
	.mainSlideItem-des strong{
		font-size: 80px;
	}
	.mainSlideItem-des span{
		font-size: 35px;
	}
}

@media(max-width: 1399px){

}
