
.banner-page-story{
	padding-top: 145px;
	padding-bottom: 200px;
	min-height: 890px;
}
.banner-page-story-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.banner-page-story-gelery{
	max-width: 50.4%;
	width: 100%;
}
.banner-page-story-gelery-title-img{
	min-height: 340px;
	margin-bottom: 34px;
}
.banner-page-story-gelery-items-cntlr ul{
	margin-right: -17px;
	margin-left: -17px;
}
.banner-page-story-gelery-items-cntlr > ul >li{
	float: left;
	max-width: 50%;
	width: 100%;
	padding: 0 17px;
	margin-bottom: 34px;
}
.banner-page-story-gelery-items{
	min-height: 200px;
}
.banner-page-story-desc{
	max-width: 49.6%;
	width: 100%;
	padding-left: 65px;
}
.banner-page-story-desc-title{
	font-size: 60px;
	line-height: 1;
	margin-bottom: 33px;
	text-transform: uppercase;
}
.banner-page-story-desc p{
	line-height: 40px;
	margin-bottom: 18px;
}
.lines-system{
	padding: 0 0 0 0;
	background: rgb(8,8,8);
	margin-bottom: 120px;
}
.lines-system-innr{
	padding-bottom: 20px;
}
.lines-system-cntlr{

}
.lines-system-img{
	max-width: 41.8%;
	width: 100%;
	float: right;
}
.lines-system-desc{
	max-width: 58.2%;
	width: 100%;
	float: left;
	padding-right: 72px;
	padding-top: 10px;
}
.lines-system-desc-title{
	font-size: 47px;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.lines-system-desc p{
	line-height: 40px;
	margin-bottom: 18px;
}
.sections-cntlr .lines-system{
	z-index: 8;
}
.page-template-page-lines-story .eco-brewing{
	margin-top: -80px;
	padding-top: 160px;
}
.eco-brewing{
	padding: 0;
	position: relative;
	margin-top: 0;
	padding-top: 50px;
	margin-bottom: 120px;
	background: rgba(8,8,8);
}
.eco-brewing-innr{
	position: relative;
	z-index: 6;
	background-color: #000;
}
.lines-story-eco-brewing-top-angle{
	position: absolute;
	left: 0;
	right: 0;
	top: auto;
	bottom: 100%;
}

.lines-story-eco-brewing-btm-angle{
	position: absolute;
	left: 0;
	right: 0;
	bottom: auto;
	top: 100%;
}
.eco-brewing-cntlr{
	padding-bottom: 40px;
	padding-top: 48px;
}
.eco-brewing-img{
	max-width: 50%;
	width: 100%;
	float: left;
}
.eco-brewing-desc{
	max-width: 50%;
	width: 100%;
	float: left;
	padding-left: 62px;
}
.eco-brewing-desc-title{
	font-size: 47px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.eco-brewing-desc p{
	line-height: 40px;
	margin-bottom: 18px;
}
/* responsive */
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	p{
		line-height: 36px;
		margin-bottom: 15px;
	}
	.banner-page-story-desc{
	   padding-left: 43px;
	}
	.banner-page-story-desc-title{
		font-size: 55px;
	   margin-bottom: 28px;
	}
	.lines-system-desc{
		padding-top: 0;
		padding-right: 35px;
	}
	.lines-system {
	    padding: 0 0 0 0;
	}
	.eco-brewing-desc{
		padding-left: 40px;
	}
}
@media(max-width: 991px){
	p{
		line-height: 32px;
		margin-bottom: 12px;
	}
	.banner-page-story{
		padding-top: 135px;
		padding-bottom: 192px;
	}
	.banner-page-story-gelery{
		max-width: 75%;
		margin: auto;
		margin-bottom: 15px;
	}
	.banner-page-story-desc{
		max-width: 100%;
		padding-left: 0;
	}
	.banner-page-story-desc-title{
		font-size: 50px;
	   	margin-bottom: 25px;
	}
	.lines-system-desc-title{
		font-size: 42px;
		margin-bottom: 25px;
	}
	.lines-system-img{
		max-width: 100%;
		float: initial;
		text-align: center;
		margin-bottom: 45px;
	}
	.lines-system-desc{
		float: initial;
		max-width: 100%;
		padding-right: 0;
	}
	.lines-system {
	    padding: 0 0 75px 0;
	}
	.eco-brewing-img{
		max-width: 100%;
		float: initial;
		text-align: center;
		margin-bottom: 45px;
	}
	.eco-brewing-desc{
		max-width: 100%;
		padding-left: 0;
		float: initial;
	}
	.eco-brewing-desc-title{
		font-size: 42px;
		margin-bottom: 25px;
	}
	.eco-brewing-cntlr{
		padding-top: 35;
		padding-bottom: 30;
	}
}
@media(max-width: 767px){
	.banner-page-story{
		padding-top: 100px;
	}
	.banner-page-story-desc-title{
		font-size: 45px;
	  	margin-bottom: 20px;
	}
	.lines-system {
	    padding: 0 0 0 0;
	}
	.eco-brewing-cntlr{
		padding-top: 20;
		padding-bottom: 15;
	}

}
@media(max-width: 639px){
	.banner-page-story-gelery{
		max-width: 100%;
	}
}
@media(max-width: 575px){
	.banner-page-story{
		padding-top: 100px;
	}
	.lines-system-desc-title{
		font-size: 35px;
		margin-bottom: 20px;
	}
	.eco-brewing-cntlr{
		padding-top: 0;
		padding-bottom: 0;
	}
	.eco-brewing-desc-title{
		font-size: 37px;
		margin-bottom: 20px;
	}
	
	.banner-page-story-desc-title{
		font-size: 40px;
	}
	.lines-system-desc p,
	.eco-brewing-desc p{
		line-height: 1.8;
	}

}
@media(max-width: 479px){
	.banner-page-story-gelery-title-img {
	    min-height: 300px;
	    margin-bottom: 25px;
	}
	.banner-page-story-gelery-items-cntlr > ul{
		margin: 0 -12px;
	}
	.banner-page-story-gelery-items-cntlr > ul >li{
		padding: 0 12px;
	}
	.banner-page-story-gelery-items{
		min-height: 180px;
	}

}
@media(max-width: 359px){
	.banner-page-story-gelery-title-img {
	    min-height: 270px;
	    margin-bottom: 18px;
	}
	.banner-page-story-gelery-items-cntlr > ul{
		margin: 0 -9px;
	}
	.banner-page-story-gelery-items-cntlr > ul >li{
		padding: 0 9px;
	}
	.banner-page-story-gelery-items{
		min-height: 150px;
	}
}