.banner-page-story{
	padding-top: 66px;
}
p{
	font-size: 20px;
	line-height: 40px;
}
h3{
	font-size: 47px;
}
/* }
.{
THE LINES SYSTEM


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at metus interdum, bibendum neque quis, commodo sapien. Proin ac auctor massa. Quisque iaculis arcu eu dui consequat, in condimentum lectus convallis. 
Donec eleifend mi id orci porttitor, sit amet sollicitudin tortor gravida. Donec nec tellus a risus tempus fermentum eu quis justo. Donec a dui justo. Nulla suscipit, augue ac consequat varius, lorem tellus malesuada lacus, eu vestibulum elit odio ac purus. 
Mauris convallis finibus vulputate. Sed ullamcorper libero malesuada odio vehicula semper.

}
.{
	ECO-BREWING

	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at metus interdum, bibendum neque quis, commodo sapien. Proin ac auctor massa. Quisque iaculis arcu eu dui consequat, in condimentum lectus convallis. 
Donec eleifend mi id orci porttitor, sit amet sollicitudin tortor gravida. Donec nec tellus a risus tempus fermentum eu quis justo. Donec a dui justo. Nulla suscipit, augue ac consequat varius, lorem tellus malesuada lacus, eu vestibulum elit odio ac purus. 

} */