.core-beers-section{
	padding: 125px 0 130px;
}
.page-bnr-line-beers{
	min-height: 755px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-bnr-line-beers img{
	width: 100%;
}
.core-beer-item{
	text-align: center;
}
.core-beer-item-fea-img a{
	display: inline-block;
	vertical-align: baseline;
}
.core-beer-item-fea-img{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.core-beer-item-fea-img img{
	width: 100%;
}
.cbihdr-title{
	display: block;
	text-transform: uppercase;
	font-size: 55px;
	line-height: 1;
	margin: 0 0 15px 0;
}
.core-beer-item-hdr span{
	display: block;
	font-size: 32px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.core-beer-item-btm-con ul{
	text-align: center;
}
.core-beer-item-btm-con ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 15px 35px;
}

.bear-quantity-option span{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 67px;
	height: 67px;
	border: 1px solid #fff;
	border-radius: 100% 100%;
	background: #000000;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 1;
}
.bear-quantity-option strong{
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
	font-family: 'CenturyGothic-Bold';
}

.core-beer-item-btns{
	display: flex;
	align-items: center;
	justify-content: center;
}

.core-beer-item-btns a{
	height: 50px;
	min-width: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	line-height: 1;
	font-family: 'CenturyGothic-Bold';
}
.core-beer-item-btns .cbibtn-2 a{
	background: #685445;
	margin: 0 8px 16px;
}
.core-beer-item-btns .cbibtn-2 a:hover{
	background: #FF7274;
}
.core-beer-item-btns .cbibtn-1 a{
	min-width: 185px;
	background: transparent;
}
.core-beer-item-btns .cbibtn-1 a:hover{
	background: #685445;
}
/*.hm-beer-list-sec.line-beer-list-sec{
	padding-top: 70px;
}*/
.line-beer-list-sec .beer-list-sec-top-angle{
	top: -5px;
}
.hm-beer-list-sec.line-beer-list-sec .hm-beer-list-sec-inr{
	padding-top: 30px;
	padding-bottom: 90px;
	background: #080808;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.core-beers-section {
	    padding: 100px 0 110px;
	}
	.cbihdr-title {
	    font-size: 48px;
	}
	.core-beer-item-hdr span {
	    font-size: 30px;
	}
	.hm-beer-list-sec-hdr-title {
	    margin-bottom: 48px;

	}
	.page-bnr-line-beers {
	    min-height: 700px;
	}
}

@media(max-width: 1199px){
	.core-beers-section {
	    padding: 80px 0 90px;
	}
	.cbihdr-title {
	   font-size: 42px;
	} 
	.core-beer-item-hdr span {
	    font-size: 27px;
	    margin-bottom: 30px;
	}
	.hm-beer-list-sec-hdr-title {
	    margin-bottom: 42px;
	}
	.page-bnr-line-beers {
	    min-height: 650px;
	}
}

@media(max-width: 991px){
	.cbihdr-title {
	    font-size: 36px;
	}
	.core-beer-item-hdr span {
	    font-size: 24px;
	    margin-bottom: 25px;
	}
	.hm-beer-list-sec-hdr-title {
	    margin-bottom: 35px;
	}
	.hm-beer-list-grds-cntlr ul li {
	    width: 50%;
	    padding-bottom: 40px;
	}
	.hm-beer-list-grds-cntlr ul li:nth-child(2n+1){
		clear: left;
	}
	.page-bnr-line-beers {
	    min-height: 600px;
	}
	.hm-beer-list-sec.line-beer-list-sec .hm-beer-list-sec-inr {
	    padding-bottom: 45px;
	}
	
}

@media(max-width: 767px){
	.hm-beer-list-sec-hdr {
	    margin-top: -70px;
	}
	.hm-beer-list-sec-hdr-title {
	    margin-bottom: 30px;
	}
	.hm-beer-list-grds-cntlr ul {
	    margin: 0px 0px;
	}
	.hm-beer-list-grds-cntlr ul li {
	    width: 100%;
	    padding: 0 0 40px 0;
	}
	.cbihdr-title {
	    font-size: 32px;
	}
	.core-beer-item-hdr span {
	    font-size: 20px;
	    margin-bottom: 20px;
	}
	.page-bnr-line-beers {
	    min-height: 500px;
	}
	.hm-beer-list-sec.line-beer-list-sec .hm-beer-list-sec-inr {
	    padding-bottom: 0px;
	}
}

@media(max-width: 575px){
	.page-bnr-line-beers {
	    min-height: 400px;
	}
	.line-beer-list-sec .beer-list-sec-top-angle {
	    top: -4px;
	}
}

@media(max-width: 479px){
	.core-beer-item-btm-con ul li {
	    padding: 0 10px 30px;
	}
	.page-bnr-line-beers {
	    min-height: 350px;
	}
}

@media(max-width: 359px){

}