.page-bnr-shop{
	position: relative;
}
.page-bnr-shop-con{
	min-height: 550px;
	height: 100%;
	padding: 100px 0 150px;
/*	background-attachment: fixed;*/
}
.page-bnr-shop img{
	width: 100%;
	/*max-height: 700px;
	height: 100%;*/
}

.shop-all-beers-sec {
    padding: 110px 0 35px;
    background: rgb(8,8,8);
    z-index: 6!important;
    margin-bottom: 150px;
}
.shop-all-beers-sec-hdr{
	padding-bottom: 45px;
}
.sabs-hdr-title{
	display: block;
	text-transform: uppercase;
	font-size: 47px;
	line-height: 1;
	font-family: 'CenturyGothic-Bold';
	margin: 0 0 5px 0;
}
.shop-all-beers-sec-hdr span{
	display: block;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1;
}

.fls-product-item-fea-img-bx{
	height: 226px;
	width: 100%;
	position: relative;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pro-img {
	overflow: hidden;
}
.pro-img img{
	max-height: 185px;
}
.fls-product-item:hover .fls-product-item-fea-img-bx{
	border-color: #dc1c27;
}
.fls-pro-yellow .fls-product-item:hover .fls-product-item-fea-img-bx{
	border-color: #d8a819;
}
.pro-img-angle{
	position: absolute;
	min-width: 109px;
	min-height: 32px;
	background: url(../images/angle-red.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 10px;
}
.fls-pro-yellow .pro-img-angle{
	background: url(../images/angle-yellow.png);
	background-size: 100% 100%;
	
}
.fls-no-pro-center-img .pro-img-angle{
	background: url(../images/angle-gray.png);
	background-size: 100% 100%;
	padding-left: 15px;
}
.pro-img-angle strong{
	font-size: 16px;
	line-height: 1;
	font-family: 'CenturyGothic-Bold';
}
.fls-no-pro-center-img .pro-img{
	display: none;
}

.shop-all-beers-sec-grds ul{
	margin: 0 -30px;
	padding: 0 15px;
}
.shop-all-beers-sec-grds ul li{
	float: left;
	width: 33.3333%;
	padding: 0 30px 65px;
}
.fls-product-item-des{
	text-align: center;
	padding: 25px 10px 0;
}

.flspid-title{
	display: block;
	margin: 0 0 22px 0;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1;
	font-family: 'CenturyGothic-Bold';
}
.flspid-title a{
	color: #fff;
}

.fls-price{
	font-family: 'CenturyGothic-Bold';
	font-size: 24px;
	line-height: 1;
}
.fls-price span{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 5px;
	border-bottom: 2px solid #fff;
}


.shop-pre-footer-sec{
	margin-top: 180px;
	margin-bottom: 120px;
	position: relative;
}
.security-sec-top-anlge{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
}
.shop-pre-ftr-inr{
	position: relative;
}
.security-sec-btm-anlge{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}
.shop-pre-ftr-inr{
	padding: 0 0 0;
	background-image: url(../images/Middle.png);
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 6;
}

.shop-pre-ftr-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.shop-pre-ftr-cntlr ul li{
	padding: 0 35px 40px;
}
.spf-item{
	text-align: center;
}
.spf-img{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 37px;
}
.shop-pre-ftr-cntlr ul li span{
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1;
}

.pbs-title{
	text-transform: uppercase;
	font-size: 60px;
	line-height: 1;
	font-family: 'CenturyGothic-Bold';
	margin: 0 0 45px 0;
}
.main-shop-bnr-menu ul{
	margin: 0 -5px;
	padding-bottom: 30px;
}
.main-shop-bnr-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 5px 15px;
}

.main-shop-bnr-menu ul li span,
.main-shop-bnr-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	border: 2px solid #FFFFFF;
	font-size: 47px;
	line-height: 1;
	text-transform: uppercase;
	padding: 10px 19px;
	font-family: 'CenturyGothic-Bold';
}

.main-shop-bnr-menu ul li.active span,
.main-shop-bnr-menu ul li.active a{
	background: #f6ece0;
	border-color: #f6ece0;
	color: #000000;
}

.shop-filter-menu ul{
	margin: 0 -3px;
}
.shop-filter-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 3px 15px;
}


.shop-filter-menu ul li a{
	font-size: 22px;
	line-height: 1;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
	padding: 10px 0;
	display: inline-block;
	vertical-align: baseline;
	font-family: 'CenturyGothic-Bold';
	color: #fff;
	min-width: 100px;
	text-align: center;
}

.shop-filter-menu ul li.active a,
.shop-filter-menu ul li:hover a{
	border: 2px solid transparent;
}
.shop-filter-menu ul li a span{
	display: block;
	position: relative;
	padding: 0 7px;
}
.shop-filter-menu ul li a span:after{
	content: "";
	position: absolute;
	bottom: -6px;
	height: 3px;
	left: 0;
	width: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.shop-filter-menu ul li.active a span:after,
.shop-filter-menu ul li:hover a span:after{
	width: 100%;
}

.shop-top-angle{
	position: absolute;
	left: 0;
	right: 0;
	top: -70px;
}
.shop-bottom-angle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
    transform: rotate(180deg);
}

.fls-price .woocommerce-Price-currencySymbol{
	border-bottom: none;
	padding-bottom: 0;
}

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.pbs-title {
	    font-size: 57px;
	}
	.sabs-hdr-title {
	    font-size: 45px;
	}
}

@media(max-width: 1199px){
	.page-bnr-shop-con {
	    padding: 100px 0 120px;
	}
	.pbs-title {
	    font-size: 52px;
	    margin: 0 0 40px 0;
	}
	.main-shop-bnr-menu ul li span, 
	.main-shop-bnr-menu ul li a {
	    font-size: 35px;
	}
	.shop-all-beers-sec {
	    padding: 90px 0 35px;
	}
	.shop-all-beers-sec-hdr {
	    padding-bottom: 35px;
	}
	.sabs-hdr-title {
	    font-size: 40px;
	}
	.flspid-title {
	    margin: 0 0 18px 0;
	    font-size: 22px;
	}
	.shop-all-beers-sec-grds ul{
		margin-left: -20px;
		margin-right: -20px;
	}
	.shop-all-beers-sec-grds ul li{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media(max-width: 991px){
	.page-bnr-shop-con {
	    padding: 90px 0 90px;
	}
	.pbs-title {
	    font-size: 46px;
	    margin: 0 0 30px 0;
	}
	.main-shop-bnr-menu ul {
	    padding-bottom: 25px;
	}
	.main-shop-bnr-menu ul li span, 
	.main-shop-bnr-menu ul li a {
	    font-size: 38px;
	    padding: 8px 15px;
	}
	.shop-all-beers-sec {
	    padding: 75px 0 20px;
	}
	.shop-all-beers-sec-hdr {
	    padding-bottom: 30px;
	}
	.sabs-hdr-title {
	    font-size: 37px;
	}
	.shop-all-beers-sec-grds ul {
	    margin: 0 -20px;
	}
	.shop-all-beers-sec-grds ul li {
	    width: 50%;
	    padding: 0 20px 45px;
	}
	.flspid-title {
	    margin: 0 0 15px 0;
	    font-size: 20px;
	}
	.shop-filter-menu ul li a{
		font-size: 19px;
	}
	.shop-pre-ftr-inr{
		padding-top: 0;
	}
	.shop-pre-ftr-cntlr ul li {
	    padding: 0 12px 40px;
	}
}

@media(max-width: 767px){
	.pbs-title {
	    font-size: 40px;
	    margin: 0 0 25px 0;
	}
	.main-shop-bnr-menu ul {
	    padding-bottom: 20px;
	}
	.main-shop-bnr-menu ul li span, 
	.main-shop-bnr-menu ul li a {
	    font-size: 32px;
	    padding: 8px 10px;
	}
	.sabs-hdr-title {
	    font-size: 35px;
	}
	.shop-all-beers-sec-grds ul {
	    margin: 0;
	    padding: 0 0px;
	}
	
	.fls-product-item{
		max-width: 300px;
	    width: 100%;
	    margin: 0 auto;
	}
	.shop-filter-menu ul{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.shop-all-beers-sec-grds ul li{
		padding-left: 10px;
		padding-right: 10px;
	}
	.shop-all-beers-sec-grds ul{
		margin-left: -15px;
		margin-right: -15px;
	}
	.shop-pre-ftr-cntlr ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 30px;
	}
	.shop-pre-ftr-cntlr ul li:last-child{
		padding-bottom: 0;
	}
	.shop-pre-ftr-cntlr{
		margin-top: -30px;
	}
}
@media(max-width: 639px){
	.shop-all-beers-sec-grds ul li {
	    width: 100%;
	    padding: 0 0px 30px;
	}
}
@media(max-width: 575px){
	.main-shop-bnr-menu ul li span, 
	.main-shop-bnr-menu ul li a {
	    font-size: 25px;
	    padding: 8px 8px;
	}
	.sabs-hdr-title {
	    font-size: 28px;
	}
	.main-shop-bnr-menu ul li{
		width: 100%;
		padding-left: 00;
		padding-right: 0;
	}
	.main-shop-bnr-menu ul li span,
	.main-shop-bnr-menu ul li a{
		display: block;
	}
	.shop-all-beers-sec-hdr{
		margin-top: -30px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}