.sl-pg-banner{
	min-height: 685px;
	padding-top: 130px;
	padding-bottom: 100px;
}
.sl-pg-post-content{
	padding-top: 55px;
	padding-bottom: 130px;
}


.sl-pg-page-inr-desc-cntlr a{
	text-decoration: underline;
	color: #fff;
}

.sl-pg-post-content-top{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.sl-pg-post-content-top-left{
}
.sl-pg-post-content-top-left > ul >li{
	font-size: 22px;
	padding-right: 41px;
	float: left;
	text-transform: uppercase;
}
.sl-pg-post-content-top-left > ul > li >a{
	font-weight: 700;
	color: #fff;
    padding-bottom: 5px;
	border-bottom: 1px solid #fff;
}

.sl-pg-post-content-top-left > ul >li:first-child{
	padding-right: 48px;
	font-weight: 700;
}
.sl-pg-post-content-top-rgt .pp-category{
	padding-bottom: 0;
	padding-left: 102px;
}
.sl-pg-post-content-top-rgt .pp-category label{
	padding-top: 9px;
}
.sl-pg-post-content-top-rgt > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.sl-pg-post-content-top-rgt > ul > li{
	padding-right: 10px;
}
.sl-pg-post-content-top-rgt > ul > li:first-child{
	padding-right: 22px;
}
.sl-pg-post-content-top-rgt > ul > li > a{
	display: inline-block;
	color: #ECDE8C;
	border: 1.5px solid #ECDE8C;
	padding: 12px;
	font-weight: 700;
	line-height: 1;
	background: transparent;
}
.sl-pg-post-content-top-rgt > ul > li > a:hover{
	border-color: #FF7274;
	color: #FF7274;
}
.sl-pg-page-title{
	font-size: 47px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	margin-top: 45px;
	margin-bottom: 45px;
}
.sl-pg-post-content-inr >p{
	font-size: 24px;
	line-height: 50px;
}
.sl-pg-page-inr-desc-cntlr{
	padding: 0 33px;
}
.sl-pg-page-inr-desc-cntlr h3{
	font-size: 35px;
	font-weight: 700;
	line-height: 1;
	margin-top: 30px;
	margin-bottom: 80px;
}
.sl-pg-page-inr-desc-cntlr img{
	margin-bottom: 60px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.sl-pg-page-inr-desc-cntlr p{
	font-size: 16px;
	line-height: 50px;
	margin-bottom: 50px;
}
.sl-pg-page-inr-desc-cntlr h4{
	font-size: 22px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 50px;
}
.sl-pg-page-inr-desc-an{

}
.sl-pg-page-inr-desc-cntlr >p{
	font-size: 16px;
	line-height: 50px;
	margin-bottom: 50px;
}
.sl-pg-social-link{
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.sl-pg-social-title{
	font-size: 22px;
	padding-right: 15px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}
.sl-pg-social-link > ul{
	display: flex;
	align-items: center;
}
.sl-pg-social-link > ul > li{
	padding-right: 15px;
}
.sl-pg-social-link > ul > li:last-child{
	padding-right: 0;
}
.sl-pg-social-link > ul > li >a{
	color: #fff;
	font-family: FontAwesome;
	font-size: 20px;
}

.sl-pg-stories-hedding{
	text-align: center;
	padding-bottom: 80px;
}

.sl-pg-articles{
	padding: 144px 0 121px;
	position: relative;
}
.sl-pg-grid-btn{
	padding-top: 10px;
}
.sl-pg-grid-btn a{
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	padding: 7px 33px 7px 33px;
	background: #aa8262;
	border: 1px solid #fff;
}


.lines-stories-innr{
	position: relative;
	z-index: 6;
}
.sl-pg-articles-sec-top-angle{
	position: absolute;
	left: 0;
	right: 0;
	top: -1px;
}
.sl-pg-articles-sec-btm-angle{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1px;
}
.sl-pg-lines-stories-innr{
	padding-top: 30px;
	padding-bottom: 0;
}
.sl-pg-lines-cntlr{
	padding: 0;
}
.sl-pg-articles .sl-pg-lines-stories-innr{
	background: #080808;
}
.sl-pg-stories-title{
	font-size: 47px;
	text-transform: uppercase;
	line-height: 1;
	color: #fff;
}

/* responsive */
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	.sl-pg-post-content{
		padding-bottom: 110px;
	}
	.sl-pg-post-content-top-left > ul >li{
		padding-right: 39px;
	}
	.sl-pg-post-content-top-left > ul >li:first-child{
		padding-right: 45px;
	}
	.sl-pg-stories-hedding{
		padding-bottom: 70px;
	}
}
@media(max-width: 991px){
	.sl-pg-post-content{
		padding-bottom: 80px;
	}
	.sl-pg-post-content-top-left > ul >li{
		font-size: 21px;
	}
	.sl-pg-post-content-top-left{
		padding-bottom: 30px;
		width: 100%;
	}
	.sl-pg-lines-stories-innr{
		padding-top: 0;
	}
	.sl-pg-page-title{
		font-size: 42px;
		margin-top: 40px;
    	margin-bottom: 38px;
	}
	.sl-pg-stories-hedding{
		padding-bottom: 60px;
	}
	.sl-pg-stories-title{
		font-size: 42px;
	}
	.sl-pg-post-content-inr >p {
	    font-size: 22px;
	    line-height: 44px;
	}
	.sl-pg-page-inr-desc-cntlr h3{
		font-size: 32px;
		margin-top: 25px;
    	margin-bottom: 65px;

	}
	.sl-pg-page-inr-desc-cntlr >p {
	    line-height: 40px;
	    margin-bottom: 40px;
	}
	.sl-pg-page-inr-desc-cntlr h4{
		font-size: 21px;
		margin-bottom: 40px;
	}
	.sl-pg-social-link{
		padding: 35px 0;
	}
}
@media(max-width: 767px){
	.sl-pg-post-content{
		padding-bottom: 70px;
	}
}
@media(max-width: 639px){
	.sl-pg-lines-stories-innr{
		padding-top: 0;
	}
	.sl-pg-stories-hedding{
		padding-bottom: 40px;
	}
	.sl-pg-page-title{
		font-size: 37px;
		margin-top: 35px;
    	margin-bottom: 32px;
	}
	.sl-pg-post-content-inr >p {
	    font-size: 20px;
	    line-height: 40px;
	}
	.sl-pg-page-inr-desc-cntlr h3 {
	    font-size: 30px;
	    margin-top: 20px;
	    margin-bottom: 50px;
	}
	.sl-pg-page-inr-desc-cntlr img{
		margin-bottom: 45px;
	}
	.sl-pg-page-inr-desc-cntlr >p {
	    line-height: 35px;
	    margin-bottom: 35px;
	}
	.sl-pg-page-inr-desc-cntlr h4{
		font-size: 20px;
		margin-bottom: 30px;
	}
}
@media(max-width: 575px){
	.sl-pg-page-title{
		font-size: 30px;
    	margin-bottom: 30px;
	}
	.sl-pg-post-content{
		padding-bottom: 60px;
	}
	.sl-pg-page-inr-desc-cntlr{
		padding: 0;
	}
	.sl-pg-post-content-top-left{
		padding-bottom: 20px;
	}
	.sl-pg-post-content-top-left > ul >li{
		font-size: 20px;
		margin-bottom: 10px;
	}

	.sl-pg-post-content-top-rgt > ul > li > a{
		padding: 10px 12px;
	}
	.sl-pg-social-link{
		padding: 25px 0;
	}
	.sl-pg-social-title{
		font-size: 20px;
		padding-right: 13px;
	}
	.sl-pg-social-link > ul > li{
		padding-right: 12px;
	}
	.sl-pg-social-link > ul > li >a{
		font-size: 18px;
	}
	.sl-pg-post-content-top-rgt .pp-category{
		padding-left: 0;
	}
	.sl-pg-post-content-top-left > ul >li:first-child {
	    padding-right: 20px;
	}
	.sl-pg-post-content-inr >p{
		font-size: 18px;
	}
	.lines-stories-hedding.sl-pg-stories-hedding{
		margin-top: -30px;
	}
}
@media(max-width: 479px){
	.sl-pg-post-content-top-rgt > ul > li{
		width: 50%;
		margin-bottom: 10px;
	}
}
